@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    @apply bg-black text-white font-sans antialiased;
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
}
